<% require 'action_view/helpers/tag_helper' %>
<% content_for :title do %>
    <%= Msip.titulo %>
<% end %>

<% content_for :marca do %>
    <%= Msip.titulo %>
<% end %>

<% content_for :menu do %>
  <% if !current_usuario.nil? %>
    <%= grupo_menus do %>
      <%= opcion_menu "Buscar", sal7711_gen.buscar_path %>
      <%= opcion_menu "Nuevo", sal7711_gen.new_articulo_path %>
    <% end %>
  <% end %>
  <%= grupo_menus :empujar => :derecha do %>
    <%= opcion_menu "Documentacion", '/acercade' %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo "Administrar" do %>
        <%= opcion_menu "Clave", main_app.editar_registro_usuario_path,
          desplegable: true %>
        <% if current_usuario.rol == Ability::ROLADMIN %>
          <%= opcion_menu "Usuarios", main_app.usuarios_path,
            desplegable: true %>
        <% end %>
        <% if current_usuario.rol == Ability::ROLADMIN %>
          <%= opcion_menu "Tablas Básicas", msip.tablasbasicas_path,
            desplegable: true %>
        <% end %>
      <% end %>
      <%= opcion_menu "Salir #{current_usuario.nusuario}", 
        main_app.sign_out_path %>
    <% else %>
      <%= opcion_menu "Acerca de", '/acercade' %>
      <%= opcion_menu "Iniciar Sesión", main_app.new_usuario_session_path %> 
    <% end %>
  <% end %>
<% end %>

<% content_for :piedepagina do %>
  <p><span class='derechos'>Sistema de información de 
    <a href='https://github.com/pasosdeJesus/sal7711_gen'>código abierto</a> con 
    <a href="https://github.com/pasosdeJesus/msip/blob/main/LICENCIA.md">licencia ISC</a>
    <br/>
    Desarrollado por <a id='pasosdeJesus' href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2022. 
<% end %>

<%= render template: "layouts/sal7711_gen/application" %>
