<div class="page-header">
  <h1><%=t '.title', :default => "Búsqueda" %></h1>
</div>

<div sytle="text-align: right">
  <%= form_tag(buscar_path, method: "get", remote: true) do %>
    Rango de Fechas:
    <%= text_field_tag 'fechaini', @fechaini, maxlength: 10, size: 12, 
    "data-behaviour" => "datepicker", "data-contarautomatico" => "" 
    %> 
    -
    <%= text_field_tag 'fechafin', @fechafin, maxlength: 10, size: 12, 
    "data-behaviour" => "datepicker", "data-contarautomatico" => "" 
    %>
	<br>

    <%= submit_tag("Buscar") %>
  <% end %>
</div>

<div id="resultados">
  <%= render 'resultados_busqueda' %>
</div> <!-- id: resultados -->


