<div class="page-header">
  <h1><%=t '.title', :default => "Búsqueda" %></h1>
</div>

<div id="filtro" class="pull-left">
  <%= form_tag(buscar_path, method: "get", remote: true) do %>

    <div class="panel panel-default">
      <div class="panel-heading">Filtro</div>
      <div class="panel-body">
        <div class="input">
          <label for="fechaini" class="control-label">Rango de Fechas:</label>
          <%= text_field_tag 'fechaini', @fechaini, maxlength: 10, size: 12, 
            "data-behaviour" => "datepicker", "data-contarautomatico" => "",
            value: @fechaini
          %> 
          -
            <%= text_field_tag 'fechafin', @fechafin, maxlength: 10, size: 12, 
            "data-behaviour" => "datepicker", "data-contarautomatico" => "" 
          %>
        </div>
        <div class="input string">
          <label for="meses_rapido">Meses:</label>
          <%= select_tag "meses_rapido", options_for_select(@meses), 
            {multiple: true, size: 7, class: 'form-control'}
          %>
        </div>
        <div class="input string">
          <label for="mundep">Municipio/Departamento:</label>
          <%= text_field_tag 'mundep', nil, maxlength: 20, size: 20, 
            class: 'form-control' 
          %>
          <%= hidden_field_tag 'mundep_id' %>
        </div>
        <div class="input string">
          <label for="categoria">Categoria:</label>
          <%= text_field_tag 'categoria', nil, maxlength: 20, size: 20, 
            class: 'form-control' 
          %>
          <%= hidden_field_tag 'categoria_id' %>
        </div>
        <div class="input string">
          <label for="fuente">Fuente:</label>
          <div class="form-control">
            <%= collection_select :fuente, :nombre, 
              Sip::Fuenteprensa.habilitados, 
              :nombre, :nombre, { :include_blank => "" }, 
              { class: 'chosen-select' }
            %>
          </div>
        </div>
        <div class="input string">
          <label for="pagina">Página Fuente:</label>
          <%= text_field_tag 'pagina', @pagina, maxlength: 20, size: 20, 
            class: 'form-control'
          %>
        </div>

        <%= submit_tag "Buscar", {class: 'btn'} %>
        <%= button_tag "Limpiar", type: :reset, class: 'btn' %>
      </div>
    </div>

  <% end %>
</div>

<div id="resultados" class="pull-right">
  <% if @entradas %>
    <%= render 'resultados_busqueda' %>
  <% end %>
</div> <!-- id: resultados -->

