<div id="filtro" class="col-sm-offset-0 col-sm-5 col-md-4">
  <%= simple_form_for :buscar, 
    { url: buscar_path, method: "get", remote: true } do |f| 
  %>
    <div class="panel panel-default">
      <div class="panel-heading">Filtro</div>
      <div class="panel-body">
        <div class="rango-fechas">
          <div class="col-md-6">
            <%= f.input :fechaini,
              maxlength: 10,
              size: 12,
              label: false,
              placeholder: 'Desde',
              value: @fechaini, 
              input_html: {
                "data-behaviour": "datepicker",
                "data-contarautomatic": ""
              }
            %>
          </div>
          <div class="col-md-6">
            <%= f.input :fechafin,
              maxlength: 10,
              size: 12,
              label: false,
              placeholder: 'Hasta',
              required: false,
              value: @fechafin,
              input_html: {
                "data-behaviour": "datepicker",
                "data-contarautomatic": ""
              }
            %>
          </div>
          <%= f.input :meses_rapido, 
            collection: @meses,
            label: 'Meses',
            input_html: { class: 'multiselectuser', multiple: true},
            size: 7,
            required: false
          %>
        </div>

        <%= f.input :mundep,
          label: 'Municipio / Departamento',
          required: false,
          maxlength: 150
        %>
        <%= hidden_field_tag 'mundep_id' %>

        <%= f.input :categoria,
          label: 'Categoria',
          required: false,
          maxlength: 1500
        %>
        <%= hidden_field_tag 'categoria_id' %>

        <%= f.input :fuente,
          collection: Sip::Fuenteprensa.habilitados,
          label: 'Fuente',
          label_method: :nombre,
          value_method: :id,
          include_blank: '',
          input_html: { class: 'chosen-select'},
          required: false
        %>

        <%= f.input :pagina,
          label: 'Página en Fuente:',
          required: false,
          maxlength: 150
        %>

        <%= f.button :button, {class: 'btn btn-primary'} do %>
          <%= fa_icon 'fa search', text: 'Buscar' %> 
        <% end %>
        <%= f.button :button, type: :reset do %>
          <%= fa_icon 'fa undo', text: 'Limpiar' %> 
        <% end %>
        <%= f.button :button, id: 'buscar_historial' do %>
          <%= fa_icon 'fa history', text: 'Historial' %> 
        <% end %>
        <br>
      </div>
    </div>

  <% end %>
</div>

<div id="resultados" class="col-sm-offset-0 col-sm-7 col-md-8">
  <% if @entradas %>
    <%= render 'resultados_busqueda' %>
  <% end %>
</div> <!-- id: resultados -->


<div class="modal fade" id="modal-imagen" tabindex="-1" role="dialog" aria-labelledby="modal-imagen-etiqueta">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body" style="overflow:scroll; max-height: 200px; width:auto">
        <! -- Aqui mostraruno.js.erb insertará la imagen de _imagen -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <i class="fa fa-close"></i> Cerrar
        </button>
        <a href="#" id="imagen-nueva-ventana" class="btn" target="_blank">
          <i class="fa fa-external-link"></i> Abrir en Nueva Ventana
        </a>
        <a href="#" id="imagen-acercar" class="btn">
          <i class="fa fa-search-plus"></i> Acercar
        </a>
        <a href="#" id="imagen-alejar" class="btn">
          <i class="fa fa-search-minus"></i> Alejar
        </a>

      </div>
    </div>
  </div>
</div>
