<!--% byebug %-->
<%= simple_form_for @articulo, 
  :html => { :class => 'form-horizontal' } do |f| 
%>
  
  <%= render partial: 'sip/hogar/errores', locals: { f: f } %>

  <%= f.input :fecha, 
    :input_html => { "data-behaviour" => "datepicker"}, 
    :as => :string 
  %>

  <%= f.association :departamento,
    collection: Sip::Departamento.habilitados.where(id_pais: 170),
    label_method: :nombre, 
    value_method: :id
  %>
  <%= f.association :municipio,
    collection: Sip::Municipio.habilitados.joins(:departamento).where("sip_departamento.id_pais = '170'"),
    label_method: :nombre, 
    value_method: :id
  %>
  <%= f.association :categoriaprensa, 
    collection: Sal7711Gen::Categoriaprensa.habilitados,
    label_method: lambda {|t| t.presenta_nombre },
    value_method: :id
  %>
  <%= f.association :fuenteprensa,
    collection: Sip::Fuenteprensa.habilitados,
    label_method: :nombre, 
    value_method: :id,
    include_blank: false
  %>
  
  <%= render partial: 'articulos_complemento0', locals: { f: f } %>

  <%= render partial: 'articulos_complemento1', locals: { f: f } %>

  <%= f.input :texto %> 


  <% if !f.object || !f.object.id || !f.object.adjunto_file_name %>
    <%= f.input :adjunto, as: :file, label: 'Archivo' %>
  <% else %>
    <div class="articulo_adjunto">
      <label for="articulo_attributes_<%=f.object.id%>_adjunto">Archivo</label>
      <a id="articulo_adjunto_attributes_<%=f.object.id%>_adjunto" href="<%= buscar_mostraruno(f.object.id) %>", style="text-decoration:none"><%= f.object.adjunto_file_name %></a>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      sal7711_gen.articulos_path, :class => 'btn' 
    %>
  </div>
<% end %>
