<p id="notice"><%= notice %></p>

<h1>Listing Sal7711 Gen Articulos</h1>

<table>
  <thead>
    <tr>
      <th>Departamento</th>
      <th>Municipio</th>
      <th>Fuenteprensa</th>
      <th>Fecha</th>
      <th>Pagina</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articulos.each do |articulo| %>
      <tr>
        <td><%= articulo.departamento_id %></td>
        <td><%= articulo.municipio_id %></td>
        <td><%= articulo.fuenteprensa_id %></td>
        <td><%= articulo.fecha %></td>
        <td><%= articulo.pagina %></td>
        <td><%= articulo.created_at %></td>
        <td><%= articulo.updated_at %></td>
        <td><%= link_to 'Show', articulo %></td>
        <td><%= link_to 'Edit', sal7711_gen.edit_articulo_path(articulo) %></td>
        <td><%= link_to 'Destroy', articulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New articulo', 'articulos/nuevo/'%>
