<p id="notice"><%= notice %></p>

<p>
  <strong>Departamento:</strong>
  <%= @articulo.departamento_id %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @articulo.municipio_id %>
</p>

<p>
  <strong>Fuenteprensa:</strong>
  <%= @articulo.fuenteprensa_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @articulo.fecha %>
</p>

<p>
  <strong>Pagina:</strong>
  <%= @articulo.pagina %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @articulo.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @articulo.updated_at %>
</p>

<%= link_to 'Edit', sal7711_gen.edit_articulo_path(@articulo) %> |
<%= link_to 'Back', sal7711_gen.articulos_path %>
