<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="formato_fecha" content="<%= Rails.configuration.x.formato_fecha  ? Rails.configuration.x.formato_fecha : 'yyyy-mm-dd' %>">
    <title><%= content_for?(:titulo) ? yield(:titulo) : Sip.titulo %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all",
      'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 
      'data-turbolinks-track': 'reload' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="<%= main_app.root_url %>">
        <%= content_for?(:titulo) ? yield(:titulo) : Sip.titulo %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navegation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%= yield :menu %>
      </div>
    </nav>

    <div class="container master-container">
	    <ul class="breadcrumb">
        <%= yield :breadcrumb %>
	    </ul>
      <% flash.each do |tipo, mensaje|  %>
        <%= mensaje %>
      <% end %>
	    <%= yield %>
    </div>

    <footer align='right' class='footer'>
      <%= yield :piedepagina %>
    </footer>

  </body>
</html>
