<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="formato_fecha" content="<%= Rails.configuration.x.formato_fecha  ? Rails.configuration.x.formato_fecha : 'yyyy-mm-dd' %>">
    <title><%= content_for?(:titulo) ? yield(:titulo) : Sip.titulo %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all",
      'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 
      'data-turbolinks-track': 'reload' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= barra_navegacion(
      marca: content_for?(:titulo) ? yield(:titulo) : Sip.titulo,
      enlace_marca: main_app.root_path) do %>
      <%= yield :menu %>
    <% end %>

    <div class="container master-container">
	    <ul class="breadcrumb">
        <%= yield :breadcrumb %>
      </ul>
      <%= anuncios_bootstrap %>
	    <%= yield %>
    </div>

    <footer align='right' class='footer'>
      <%= yield :piedepagina %>
    </footer>

  </body>
</html>
